@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap');* 

{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Crimson Text', serif;
}

.mainHeader {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 185, 111);
  padding:80px;
}
.mainHeader__img > img{
  width:125px;
}
.mainHeader__txt {
  font-size:40px;
  margin-left:20px;
  color:rgb(49, 39, 39);
}

.form {
  display:flex;
  flex-direction: column;
  width:200px;
  border:2px solid black;
  gap:10px;
  padding:20px;
  margin-bottom:10px;
}
.form > span {
  line-height: 5px;
  font-size:19px;
}
#submit {
  padding:10px 30px;
}

#library {
  display:flex;
  flex-wrap:wrap;
}
#library > * {
  width:400;
}

.book {
  background: rgb(191,230,186);
  background: linear-gradient(90deg, rgb(132, 199, 123) 37%, rgb(151, 182, 122) 84%);
  padding:20px;
  margin:10px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  color:white;
  font-size: 23px;
  line-height: 40px;
  font-family: 'Crimson Text', serif;
}